.homePage {
  text-align: center;
  padding: 20px;
}

/* .existUsers {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

.createUser {
  margin-top: 20px;
}

.createUser input {
  padding: 5px;
  margin-bottom: 10px;
}

.avatarSelector {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.avatarButton.selected {
  border-color: #FFF1A7;
  background-color: #FFF1A7;
  color: #fff;
}