.userPage {
  text-align: center;
  padding-bottom: 10px;
}

.funcBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.levelButtonsContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}