.regularButton,
.avatarButtons {
  border: 2px solid #DFCDE5;
  position: relative;
  display: inline-block;
  background-color: #662D91;
  border-radius: 12px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  /* text style */
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 1px #333,
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 1px #333;

  > span:first-of-type {
    margin-right: 10px;
  }
}

/* glass effect */
.regularButton::after,
.avatarButtons::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 45%;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  border-radius: 10px 10px 2px 2px;
}

.selected {
  border-color: #93c7d2;
  /* border-color: #DFCDE5; */
  color: #fff;
}

.regularButton:hover,
.avatarButtons:hover {
  background-color: #FFF1A7;
  background-image: linear-gradient(#FFF1A7, #A986DB, #A986DB);
}

.avatarButtons:focus,
.avatarButtons:focus-visible,
.regularButton:focus,
.regularButton:focus-visible {
  outline: 2px solid #93c7d2;
}

.regularButton {
  padding: 0.4em 0.8em;
  font-size: 1.2rem;
}

.smallButton {
  padding: 0.4em 0.8em;
  font-size: 0.8rem;
  border-radius: 10px;
  letter-spacing: 1px;
}

.avatarButtons {
  padding: 0.2em 0.4em 0.3em;
}