.levelResults {
  text-align: left;

  > h3 {
    display: inline;
    font-size: 0.8rem;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  span {
    vertical-align: middle;
  }
}